.container {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: mediumpurple;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    font-size: 30px;
    font-style: italic;
    text-decoration: none;
    color: white;
}

.main-nav {
    align-self: center;
}

.main-nav .list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav .list-item {
    display: inline-block;
    margin-left: 30px;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: lightgray;
}

.nav-link:hover {
    color: white;
}

.content {
    background: lightpink;
}

.sidebar {
    background: plum;
    width: 25%;
    padding: 10px 20px;
}

.sidebar-title {
    font-size: 20px;
    font-weight: 600;
}

.sidebar .list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar .list-item {
    padding: 10px 0;
    border-bottom: 1px solid grey;
}

.sidebar-link {
    text-decoration: none;
    text-transform: uppercase;
    color: blueviolet;
}

.sidebar-link:hover {
    color: indigo;
}